body {
  font-family: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS переменные для светлой темы (по умолчанию) */
:root[data-theme="light"],
:root:not([data-theme]) {
  --bg-primary: #edf3f7;
  --bg-secondary: #ffffff;
  --bg-modal: #0000008c;
  --bg-active-order: #b4ffc6;
  --bg-unread: #ffffff;
  --text-primary: #263140;
  --text-placeholder: #26314080;
  --text-secondary: #3c454c;
  --border-color: #d8e2ee;
  --border-color-active-order: #5feeb2;
}

/* CSS переменные для темной темы */
:root[data-theme="dark"] {
  --bg-primary: #08151f;
  --bg-secondary: #0b1d2a;
  --bg-modal: #ffffff1f;
  --bg-active-order: #314d37;
  --bg-unread: #163b57;
  --text-primary: #ffffff;
  --text-placeholder: #ffffff80;
  --text-secondary: #ffffff;
  --border-color: #ffffff80;
  --border-color-active-order: #ffffff80;
}
