$max-width-all-content: 450px;

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf3f7;
  gap: 15px;
}

// =========== access-gate ===========

.access-gate {
  max-width: $max-width-all-content;
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.access-gate__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.access-gate__logo {
  max-width: 288px;
  z-index: 1;
  margin-top: 2px;
}

.access-gate__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  gap: 16px;
}

.access-gate__content {
  width: 90%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.access-gate__button-info {
  all: unset;
  display: inline-flex;
  cursor: pointer;
  padding: 10px;
  background-color: #40a1ea;
  border-radius: 50%;

  // эффект свечения
  box-shadow: 0px 0px 16px 2px #27d0ff80, 0px 0px 8px 2px #27d0ff66 inset,
    -4px 4px 16px 0px #27d0ff80 inset, -4px -4px 16px 0px #27d0ff80 inset;
}

.access-gate__description {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #57677a;
}

.access-gate__button-switch-telegram {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding: 15px 24px 15px 24px;
  border-radius: 32px;

  background: linear-gradient(90deg, #00ddbb 0%, #00e29d 100%);

  color: #ffffff;
  font-weight: 700;
  font-size: 20px;

  box-shadow: 0px 0px 8px 2px #27ffbb66 inset, -8px 8px 16px 0px #27ffbb80 inset,
    0px 0px 16px 2px #27ffbb80;
}

.access-gate__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 16px;
}

.access-gate__copyright {
  font-weight: 400;
  font-size: 16px;
  color: #2d4058b2;
}

.access-gate__footer__links {
  display: inline-flex;
  gap: 44px;

  a {
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    color: #2d4058b2;
  }
}

// =========== header ===========

.main-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px 0px 0px;
  box-sizing: border-box;
  gap: 16px;
}

.default-logo {
  width: 100%;
  max-width: 183px;
}

.avatar-container {
  width: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  outline: 2px solid #2cd896; /* внешнняя рамка */
  box-sizing: border-box;
}

.avatar__check {
  width: 26px;
  position: absolute;
  bottom: -10px;
  right: -4px;
}

// =========== navigation ===========

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
  padding: 8px 8px 20px 8px;
  gap: 10px;

  background-color: #ffffff;
  box-shadow: 0px -7px 16px 0px #1c2b3f08, 0px -30px 30px 0px #1d2c3f08,
    0px -67px 40px 0px #1d2c3f05, 0px -119px 48px 0px #1d2c3f00,
    0px -186px 52px 0px #1d2c3f00;
}

.nav-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  gap: 6px;
  padding: 6px;
  transition: background-color 0.5s ease;

  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;

  color: #5b6674;

  &.active {
    background-color: #ff8b00;
    color: #ffffff;
  }
}

.nav-button__icon {
  width: 22px;
}

// =========== home ===========

.home__actions-container {
  width: 90%;
  display: flex;
  gap: 10px;
}

.action-banner {
  width: 100%;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;

  &.green {
    background: linear-gradient(180deg, #54febd 0%, #2eca8e 100%);
    box-shadow: 0px 5vw 6vw -2vw #00a7674d;
  }

  &.blue {
    background: linear-gradient(180deg, #8dceff 0%, #3995da 100%);
    box-shadow: 0px 5vw 6vw -2vw #0061a74d;
  }
}

.action-banner-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action-banner__icon {
  max-width: 44px;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 0px #00000026 inset;
}

.action-banner__header {
  line-height: 100%;
  font-weight: 500;
  font-size: 19px;
  color: #ffffff;
}

.action-banner__content {
  font-family: Inter;
  font-size: 14px;
  color: #ffffff;
}

.home__wallet {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;

  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.wallet__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet__header__title {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 16px;
  color: #3c454c;
}

.wallet__stars-status {
  border: 1px solid #dfeaf0;
  border-radius: 16px;
  padding: 7px 10px 7px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.count-hold-stars {
  line-height: 100%;
  font-weight: 700;
  font-size: 14px;
  color: #3c454c;
}

.tg-stars-icon {
  width: 100%;
}

.stars-status {
  line-height: 100%;
  font-weight: 300;
  font-size: 14px;
  color: #3c454c;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.wallet-content {
  display: flex;
  gap: 10px;
  align-items: end;
}

.count-stars {
  line-height: 100%;
  font-weight: 700;
  font-size: 40px;
  color: #3c454c;
}

.tg-stars-icon__container {
  display: flex;
  align-items: center;
  width: 45px;
  padding-bottom: 8px;
}

.wallet-content__aviable {
  padding-bottom: 4px;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  color: #3c454c;
}

.button-switch-map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 32px;
  cursor: pointer;

  padding: 15px;
  box-shadow: 0px 2px 5px 0px #262b310d, 0px 10px 10px 0px #262b310a,
    0px 22px 13px 0px #262b3108, 0px 40px 16px 0px #262b3103,
    0px 62px 17px 0px #262b3100;

  background-color: #2cd896;
  border: 4px solid #ffffff;
  outline: 2px solid #2cd896; /* внешнняя рамка */

  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}

.home__activity-banner {
  width: 90%;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;

  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.activity-banner__header {
  padding: 16px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #3c454c;
}

.activity__container {
  width: 100%;
}

.activity__options {
  display: flex;
}

.option {
  width: 100%;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #263140;
  padding: 0 0 12px 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #e2ebf0;
  transition: border-color 0.5s ease, color 0.5s ease;

  cursor: pointer;

  &.active {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    line-height: 100%;
    color: #2cd896;
    border-bottom: 2px solid #2cd896;
  }
}

.option__content-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.option__content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
  justify-content: start;
  background-color: #edf3f7;
  cursor: pointer;

  border-radius: 12px;
  padding: 10px 9px 10px 11px;
  gap: 8px;

  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #3c454c;

  span {
    padding-top: 3px;
    flex: 1;
  }
}

.task__status {
  border-radius: 20px;
  padding: 4px 10px 4px 10px;
  gap: 10px;
  background-color: #bcd0de;

  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  color: #3c454c;

  &.accepted {
    background-color: #bcdecd;
    color: #3c4c44;
  }
}

// =========== discover ===========

.discover__toggle-bar {
  width: 90%;
  display: flex;
  box-sizing: border-box;

  border-radius: 100px;
  padding: 6px;
  gap: 10px;

  background-color: #ffffff;

  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.toggle-bar__toggle {
  width: 100%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  border-radius: 100px;
  padding: 8px;

  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;

  color: #263140;
  transition: background-color 0.5s ease, color 0.5s ease;

  &.active {
    font-weight: 500;
    color: #ffffff;
    background-color: #2cd896;
  }
}

.discover__task {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 90%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.task__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #3c454c;
  // смещаем вверх на 4px из-за иконки
  transform: translateY(-4px);

  img {
    transform: translateY(3px);
    margin-right: 8px;
  }
}

.task__container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.task__content {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-family: Inter;
  font-size: 16px;
  color: #3c454c;
}

.task__tags-container {
  display: flex;
  gap: 8px;
}

.tag {
  display: flex;
  box-sizing: border-box;
  border-radius: 100px;
  gap: 4px;
  padding: 6px 10px 5px 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  background-color: #e9f2ff;
  color: #263140;

  &.badge {
    padding: 4px 9px 3px 9px;
    font-weight: 700;
  }

  &.green {
    color: #2cd896;
    background-color: #2cd8961a;
    border: 1px solid #2cd896;
  }

  &.blue {
    color: #05a6fe;
    background-color: #05a6fe1a;
    border: 1px solid #05a6fe;
  }

  &.stars {
    background-color: #fc9500;
    font-weight: 700;
    color: #ffffff;
  }
}

.task__button {
  width: 100%;
  border-radius: 100px;
  padding: 15px 15px 13px 15px;
  border: none;
  background-color: #2cd896;
  cursor: pointer;

  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  color: #ffffff;
}
