$max-width-all-content: 450px;

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.page {
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edf3f7;
  gap: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

// =========== access-gate ===========

.access-gate {
  max-width: $max-width-all-content;
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.access-gate__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.access-gate__logo {
  max-width: 235px;
  z-index: 1;
  margin-top: 20px;
}

.access-gate__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.access-gate__content {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.access-gate__header {
  all: unset;
  font-weight: 700;
  font-size: 26px;
  color: #263140;
  text-align: center;
}

.access-gate__description {
  width: 103%;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;

  color: #263140;
}

.access-gate__button-switch-telegram {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  padding: 15px 24px 15px 24px;
  border-radius: 32px;
  margin-top: 14px;

  background: linear-gradient(90deg, #00ddbb 0%, #00e29d 100%);

  color: #ffffff;
  font-weight: 700;
  font-size: 20px;

  box-shadow: 0px 0px 8px 2px #27ffbb66 inset, -8px 8px 16px 0px #27ffbb80 inset,
    0px 0px 16px 2px #27ffbb80;
}

.access-gate__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 16px;
}

.access-gate__copyright {
  font-weight: 400;
  font-size: 16px;
  color: #2d4058b2;
}

.access-gate__footer__links {
  display: inline-flex;
  gap: 44px;

  a {
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    color: #2d4058b2;
  }
}

// =========== header ===========

.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0px 3px 0px;
  box-sizing: border-box;
  gap: 16px;
}

.default-logo {
  width: 100%;
  max-width: 183px;
}

.avatar-container {
  width: 48px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  outline: 2px solid #2cd896; /* внешнняя рамка */
  box-sizing: border-box;
}

.avatar__check {
  width: 26px;
  position: absolute;
  bottom: -10px;
  right: -4px;
}

// =========== navigation ===========

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
  padding: 8px 8px 20px 8px;
  gap: 10px;
  z-index: 1;

  background-color: #ffffff;
  box-shadow: 0px -7px 16px 0px #1c2b3f08, 0px -30px 30px 0px #1d2c3f08,
    0px -67px 40px 0px #1d2c3f05, 0px -119px 48px 0px #1d2c3f00,
    0px -186px 52px 0px #1d2c3f00;
}

.nav-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  gap: 6px;
  padding: 6px;
  transition: background-color 0.5s ease;

  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;

  color: #5b6674;

  &.active {
    background-color: #ff8b00;
    color: #ffffff;
  }
}

.nav-button__icon {
  width: 22px;
}

// =========== home ===========

.home__actions-container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.action-banner {
  width: 100%;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;

  &.green {
    background: linear-gradient(180deg, #54febd 0%, #2eca8e 100%);
    box-shadow: 0px 5vw 4vw -2vw #00a7674d;
  }

  &.blue {
    background: linear-gradient(180deg, #8dceff 0%, #3995da 100%);
    box-shadow: 0px 5vw 4vw -2vw #0061a74d;
  }
}

.action-banner-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action-banner__icon {
  max-width: 44px;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 0px #00000026 inset;
}

.action-banner__header {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
}

.action-banner__content {
  font-family: Inter;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;

  color: #ffffff;
}

.home__wallet {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;

  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.wallet__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet__header__title {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #3c454c;
}

.wallet__stars-status {
  border: 1px solid #dfeaf0;
  border-radius: 16px;
  padding: 7px 10px 7px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.count-hold-stars {
  line-height: 100%;
  font-weight: 700;
  font-size: 14px;
  color: #3c454c;
}

.tg-stars-icon {
  width: 100%;
}

.stars-status {
  line-height: 100%;
  font-weight: 300;
  font-size: 14px;
  color: #3c454c;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wallet-content {
  display: flex;
  gap: 10px;
  align-items: end;
}

.wallet-content__wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wallet-content__available {
  font-family: Inter;
  font-weight: 400;
  font-style: Medium;
  font-size: 13px;
  line-height: 100%;
  color: #a8b0ba;
}

.count-stars {
  line-height: 100%;
  font-weight: 700;
  font-size: 40px;
  color: #3c454c;
}

.tg-stars-icon__container {
  display: flex;
  align-items: center;
  width: 30px;
  padding-bottom: 8px;
}

.wallet-content__buttons-container {
  display: flex;
  gap: 10px;
}

.wallet-content__button {
  all: unset;
  width: 100%;
  text-align: center;
  border-radius: 100px;
  padding: 18px;
  cursor: pointer;

  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 18px;
  line-height: 95%;
  color: #ffffff;

  &.green {
    background: linear-gradient(180deg, #54febd 0%, #2eca8e 100%);
    box-shadow: 0px 5vw 4vw -2vw #00a7674d;
  }

  &.blue {
    background: linear-gradient(180deg, #8dceff 0%, #3995da 100%);
    box-shadow: 0px 5vw 4vw -2vw #0061a74d;
  }
}

.home__specials-banner {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;

  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.specials-banner__header {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #3c454c;
}

.specials__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.specials__options {
  display: flex;
}

.specials__option {
  width: 100%;
  text-align: center;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  color: #263140;
  padding: 14px 0 10px 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #d8e2ee;
  transition: border-color 0.5s ease, color 0.5s ease;

  cursor: pointer;

  &.active {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #2cd896;
    border-bottom: 4px solid #2cd896;
  }
}

.option__content-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option__wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
  justify-content: start;
  background-color: #ffffff;

  border: 1px solid #d8e2ee;
  border-radius: 10px;
  padding: 12px;
  gap: 12px;
}

.partner-logo {
  width: 40px;
  border-radius: 8px;
  border: 1px solid #d8e2ee;
  background-color: #ffffff;
  box-sizing: border-box;
}

.option__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: Inter;
  font-weight: 500;
  font-size: 14px;

  color: #263140;
}

.option__price {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #ff8b01;
  display: flex;
  gap: 4px;
}

.option__task-button {
  all: unset;
  border-radius: 100px;
  padding: 12px;
  background-color: #cbffe5;
  cursor: pointer;

  font-family: Inter;
  font-weight: 700;
  font-size: 12px;
  color: #199867;

  &.accepted {
    background-color: #bcdecd;
    color: #3c4c44;
  }
}

.specials_button {
  all: unset;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #263140;
  cursor: pointer;

  border-radius: 100px;
  padding: 13px;

  box-shadow: 2px 2px 6px 0px #00000026 inset;
}

// =========== tasks ===========

.tasks-page-title {
  width: 100%;
  font-weight: 700;
  font-size: 26px;
  color: #263140;
}

.customer-banner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 19px 16px 19px 16px;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;

  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.describe__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.customer-banner__title {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #263140;
}

.describe__input {
  all: unset;
  box-sizing: border-box;
  min-height: 94px;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #d8e2ee;
  border-radius: 10px;

  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #263140;
}

.describe__input::placeholder {
  color: #a8b0ba;
  white-space: pre-wrap;
}

.customer-banner__description-container {
  justify-content: space-between;
  display: flex;
  gap: 12px;
}

.describe__upload-button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #d8e2ee;
  border-radius: 10px;
  cursor: pointer;
}

.describe__preview-container {
  display: flex;
  gap: 6px;
}

.preview-item {
  position: relative;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 1px solid #d8e2ee;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.btn-remove-img {
  all: unset;
  position: absolute;
  top: -5px;
  right: 2px;
  cursor: pointer;
  color: red;
}

.customer-banner__description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-family: Inter;
  font-weight: 500;
  font-size: 13px;
  color: #68757e;
}

.description__title {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 16px;
  color: #263140;
}

.input-location {
  all: unset;
  background-color: #ffffff;
  border: 1px solid #d8e2ee;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;

  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #263140;
}

.input-location::placeholder {
  color: #a8b0ba;
  white-space: pre-wrap;
}

.customer-banner__paragraph {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #68757e;
}

.mini-map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.mini-map {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.mini-map__center-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -100%
  ); /* чтобы острие метки указывало точно в центр */
  pointer-events: none; /* чтобы не мешала кликам по карте */
  z-index: 10;
}

.mini-map__center-marker img {
  width: 40px;
  height: 40px;
}

.customer-banner__mini-map {
  width: 100%;
  height: 140px;
}

.dropdown-wrapper {
  position: relative;
  width: 100%;
}

.dropdown-input {
  all: unset;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #d8e2ee;
  border-radius: 10px;
  padding: 12px 30px 12px 16px;
  cursor: pointer;

  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #263140;

  background-image: url('./assets/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.dropdown-input::placeholder {
  color: #a8b0ba;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #ffffff;
  border: 1px solid #d8e2ee;
  border-radius: 10px;
  margin-top: 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.15s;

  &:hover {
    background-color: #f0f0f0;
  }
}

.toggle-switch-urgent {
  position: relative;
  display: inline-block;
  width: 39px; // ширина переключателя
  height: 24px; // высота полоски

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d8e2ee; // цвет выключено
    border-radius: 34px;
    transition: background-color 0.3s;

    &::before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s;
      box-shadow: 0px 3px 1px 0px #0000000f, 0px 3px 8px 0px #00000026,
        0px 0px 0px 1px #0000000a;
    }
  }

  input:checked + .slider {
    background-color: #2cd896; // цвет включено
  }

  input:checked + .slider::before {
    transform: translateX(15px); // сдвигаем кружок
  }
}

.budget-input {
  all: unset;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #d8e2ee;
  border-radius: 10px;
  padding: 12px 30px 12px 16px;
  cursor: pointer;

  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: #263140;

  background-image: url('./assets/stars-budget.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.budget-input::placeholder {
  color: #a8b0ba;
}

.budget-input::-webkit-outer-spin-button,
.budget-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.customer__btn {
  position: relative;
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 100px;
  padding: 11px;
  cursor: pointer;
  min-height: 53px;

  &.green {
    background: linear-gradient(180deg, #54febd 0%, #2eca8e 100%);
    box-shadow: 0px 5vw 4vw -2vw #00a7674d;
  }

  &.blue {
    background: linear-gradient(180deg, #8dceff 0%, #3995da 100%);
    box-shadow: 0px 5vw 4vw -2vw #0061a74d;
  }

  .action-banner__icon {
    position: absolute;
    left: 21px;
  }

  .customer__btn__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  span {
    text-align: center;
    width: 100%;
    font-family: Space Grotesk;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
  }

  p {
    font-family: Inter;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
  }
}

.performer__container {
  position: relative;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;

  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.performer__options {
  display: flex;
}

.performer__option {
  width: 100%;
  text-align: center;

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;

  color: #263140;
  padding: 5px 0 9px 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #d8e2ee;
  transition: border-color 0.5s ease, color 0.5s ease;

  cursor: pointer;

  &.active {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #2cd896;
    border-bottom: 4px solid #2cd896;
  }
}

.tasks__task {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 20px;
  border: 1px solid #d8e2ee;
  // box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
  //   0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
  //   0px 62px 17px 0px #262b3100;
}

.task__header {
  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #3c454c;
  // смещаем вверх на 4px из-за иконки
  transform: translateY(-4px);

  img {
    transform: translateY(3px);
    margin-right: 8px;
  }
}

.task__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task__content {
  display: flex;
  flex-direction: column;
  gap: 13px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;

  color: #3c454c;
}

.task__tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  display: flex;
  box-sizing: border-box;
  border-radius: 100px;
  gap: 4px;
  padding: 6px 10px 5px 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  background-color: #e9f2ff;
  color: #263140;

  &.badge {
    padding: 4px 9px 3px 9px;
    font-weight: 700;
  }

  &.green {
    color: #2cd896;
    background-color: #2cd8961a;
    // border: 1px solid #2cd896;
  }

  &.blue {
    color: #05a6fe;
    background-color: #05a6fe1a;
    // border: 1px solid #05a6fe;
  }

  &.stars {
    background-color: #fc9500;
    font-weight: 700;
    color: #ffffff;
  }
}

.task__button {
  width: 100%;
  border-radius: 100px;
  padding: 15px 15px 13px 15px;
  border: none;
  cursor: pointer;

  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;

  color: #ffffff;
  background: linear-gradient(180deg, #54febd 0%, #2eca8e 100%);
}

// =========== map ===========

.map {
  flex: 1;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.custom-marker {
  border-radius: 100px;
  padding: 6px 11px 6px 11px;
  transition: all 0.3s ease;
  transform: translateY(-6px);

  &.urgent {
    background-color: #00da4c;

    &::after {
      border-top-color: #00da4c;
    }
  }

  &.remote {
    background-color: #007fff;

    &::after {
      border-top-color: #007fff;
    }
  }

  &.active {
    background-color: #fc9500;

    &::after {
      border-top-color: #fc9500;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -6px; // расстояние под маркером
    left: 50%; // центрируем
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid;
    transition: all 0.3s ease;
  }
}

.custom-marker__content {
  display: flex;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  gap: 4px;

  img {
    height: 14px;
  }
}

.map-tasks-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px; // весь контейнер упирается в низ
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  // gap: 32px;
}

.map-tasks-container {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;

  .tasks__task {
    flex: 0 0 77vw;
    max-width: 450px;
    // min-width: 300px;
  }
}

// =========== toggle-profile-mode ===========

.toggle-profile-mode {
  width: 100%;
  display: flex;
  box-sizing: border-box;

  border-radius: 100px;
  padding: 6px;
  gap: 6px;

  background-color: #ffffff;

  box-shadow: 0px 2px 5px 0px #262b3108, 0px 10px 10px 0px #262b3105,
    0px 22px 13px 0px #262b3103, 0px 40px 16px 0px #262b3100,
    0px 62px 17px 0px #262b3100;
}

.prof-mode__toggle {
  width: 100%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;

  border-radius: 100px;
  padding: 18px 18px 17px 18px;

  font-family: Space Grotesk;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;

  color: #263140;
  transition: color 0.5s ease;

  &.active {
    color: #ffffff;
    font-weight: 500;
  }

  &.green {
    background: linear-gradient(180deg, #54febd 0%, #2eca8e 100%);
    box-shadow: 0px 5vw 4vw -2vw #00a7674d;
  }

  &.blue {
    background: linear-gradient(180deg, #8dceff 0%, #3995da 100%);
    box-shadow: 0px 5vw 4vw -2vw #0061a74d;
  }
}
